html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(0, 0, 0);
  }
  .loaderSpinner {
    color: #90caf9;
  }
  .loaderSpinner:before {
    background: rgb(0, 0, 0);
  }
  .loaderSpinner:after {
    background: rgb(0, 0, 0);
  }
  .slider {
    color: #fff;
  }
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.unsafeAlert {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

/* No arrows on numeric inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.amboss {
  fill: url(#SVGID_1_);
}

.advancedSwitch {
  width: 20;
  left: 50%;
  transform: translate(62px, 0px);
  margin-right: 0;
  margin-left: auto;
}

.bottomItem {
  margin: 0;
  top: -14px;
}

.profileNickname {
  margin: 0;
  left: -16px;
}

.newAvatar {
  border-radius: 50%;
  border: 2px solid #555;
  filter: drop-shadow(1px 1px 1px #000000);
}

.profileAvatar {
  border: 0.5px solid #555;
  filter: drop-shadow(0.5px 0.5px 0.5px #000000);
  left: 35px;
}

.smallAvatar {
  border: 0.5px solid #555;
  filter: drop-shadow(0.5px 0.5px 0.5px #000000);
}

.flippedSmallAvatar {
  transform: scaleX(-1);
  border: 0.3px solid #555;
  filter: drop-shadow(0.5px 0.5px 0.5px #000000);
}

.navBarAvatar img {
  transform: scaleX(-1);
  border: 1.3px solid #1976d2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) brightness(150%) contrast(150%) drop-shadow(0.7px 0.7px 0.7px #000000);
}

.navBarAvatar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 2.4px solid #1976d2;
  box-shadow: inset 0px 0px 35px rgb(255, 255, 255);
}

.navBarAvatarDark img {
  transform: scaleX(-1);
  border: 1.3px solid #90caf9;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) brightness(50%) contrast(180%) drop-shadow(0.7px 0.7px 0.7px #000000);
}

.navBarAvatarDark:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 2.4px solid #90caf9;
  box-shadow: inset 0px 0px 35px rgb(255, 255, 255);
}

.MuiButton-textInherit {
  color: '#111111';
}

::-webkit-scrollbar {
  width: 6px; /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

.MuiDataGrid-columnHeaders + div {
  width: auto !important;
}

@media (max-height: 725px) and (max-width: 925px) {
  .appCenter:has(> div.MuiGrid-root:first-child, > div.MuiBox-root:first-child) {
    overflow-y: auto;
    margin-top: 1em;
    padding-bottom: 3em;
    height: 100%;
    width: 100%;
  }
}

.loadingAvatar {
  background-size: 100%;
  border-radius: 50%;
  border: 0.3px solid #555;
  filter: dropShadow(0.5px 0.5px 0.5px #000000);
}

.generatingAvatar {
  background-size: 100%;
  border-radius: 50%;
  outline: 2px solid #555;
  outline-offset: -2px;
  filter: dropShadow(1px 1px 1px #000000);
}
