<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
robosats
        </title>
        <style type="text/css">
            body {
                font-size: 16px;
                margin: 40px auto;
                padding: 0 10px;
                max-width: 650px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>
Robosats
            </h1>
        </header>
        <p>
robosats coordinator
        </p>
        <p>
available at /api
        </p>
    </body>
</html>
