django==5.1.9
django-admin-relation-links==0.2.5
django-celery-beat==2.8.1
django-celery-results==2.6.0
django-model-utils==5.0.0
django-redis==6.0.0
djangorestframework==3.16.1
channels==4.2.2
channels-redis==4.2.1
celery==5.5.3
grpcio==1.67.0
googleapis-common-protos==1.70.0
grpcio-tools==1.67.0
numpy==1.26.4
Pillow==11.3.0
python-decouple==3.8
requests==2.32.3
ring==0.10.1
gunicorn==23.0.0
psycopg2==2.9.10
SQLAlchemy==2.0.16
django-import-export==4.3.10
requests[socks]
shapely==2.0.7
python-gnupg==0.5.5
daphne==4.2.1
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.9.1
django-cors-headers==4.7.0
base91==1.0.1
nostr-sdk==0.42.1
pygeohash==3.2.0
asgiref == 3.9.2
secp256k1
