django==4.2.1
django-admin-relation-links==0.2.5
django-celery-beat==2.5.0
django-celery-results==2.5.0
django-model-utils==4.3.1
django-redis==5.2.0
django-timezone-field==5.0
djangorestframework==3.14.0
channels==4.0.0
channels-redis==4.1.0
celery==5.2.7
grpcio==1.54.0
googleapis-common-protos==1.59.0
grpcio-tools==1.54.2
numpy==1.24.3
Pillow==9.5.0
python-decouple==3.8
requests==2.30.0
ring==0.10.1
git+https://github.com/RoboSats/Robohash.git
scipy==1.10.1
gunicorn==20.1.0
psycopg2==2.9.6
SQLAlchemy==2.0.12
django-import-export==3.2.0
requests[socks]
python-gnupg==0.5.0
daphne==4.0.0
drf-spectacular==0.26.2
drf-spectacular-sidecar==2023.5.1
black==23.3.0
isort==5.12.0
flake8==6.0.0
pyflakes==3.0.1
django-cors-headers==4.0.0
base91==1.0.1
