/* ==========================================================================
   RoboSats skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #2c2c2c !default;
$muted-text-color: #393e46 !default;
$primary-color: #1976d2 !default;
$primary-color-light: #42a5f5 !default;
$primary-color-dark: #1565c0 !default;
$secondary-color: #9c27b0 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: $primary-color-light !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $primary-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

$success-color              : #2e7d32 !default;
$warning-color              : #ed6c02 !default;
$danger-color               : #d32f2f !default;
$info-color                 : #0288d1 !default;

$notice-background-mix: 50% !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
