name: "Docker: Coordinator"

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      semver:
        required: true
        type: string

jobs:
  push_to_registry:
    name: 'Push Docker image to Docker Hub'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: 'Download Basic main.js Artifact'
      if: inputs.semver == ''  # Only if workflow fired from frontend-build.yml
      uses: dawidd6/action-download-artifact@v6
      with:
        workflow: frontend-build.yml
        workflow_conclusion: success
        name: web-main-js
        path: frontend/static/frontend/

    - name: 'Download Basic main.js Artifact for a release'
      if: inputs.semver != ''  # Only if fired as job in release.yml
      uses: actions/download-artifact@v4
      with:
        name: web-main-js
        path: frontend/static/frontend/

    - name: 'Download pro.js Artifact'
      if: inputs.semver == ''  # Only if workflow fired from frontend-build.yml
      uses: dawidd6/action-download-artifact@v6
      with:
        workflow: frontend-build.yml
        workflow_conclusion: success
        name: web-pro-js
        path: frontend/static/frontend/

    - name: 'Download pro.js Artifact for a release'
      if: inputs.semver != ''  # Only if fired as job in release.yml
      uses: actions/download-artifact@v4
      with:
        name: web-pro-js
        path: frontend/static/frontend/

    - name: 'Log in to Docker Hub'
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: 'Extract metadata (tags, labels) for Docker'
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: recksato/robosats
        tags: |
            type=ref,event=pr
            type=ref,event=tag
            type=semver,pattern={{major}}.{{minor}}
            type=sha,enable=true,priority=100,prefix=,suffix=,format=short
            type=raw,value=latest

    - name: 'Get Commit Hash'
      id: commit
      uses: pr-mpt/actions-commit-hash@v3

    - name: 'Save Commit Long Hash to TXT File'
      run: |
        rm commit_sha
        echo ${{ steps.commit.outputs.long }}>"commit_sha"

    - name: 'Build and push Docker image'
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}