name: "Lint: Javascript Client"

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
    paths:
      - frontend
  pull_request_target:
    branches:
      - main
    paths:
      - frontend

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5

      - name: 'Setup node'
        uses: actions/setup-node@v4
        with:
          node-version: 16.17.0
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      # ESLint and Prettier must be in `package.json`
      - name: 'Install NPM Dependencies'
        run: |
          cd frontend
          npm install

      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          prettier: true
          prettier_dir: frontend
          eslint: true
          eslint_dir: frontend