name: "Lint: Javascript Client"
permissions:
  contents: read

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
    paths:
      - '**/*.js'
      - '**/*.ts'
      - '**/*.tsx'
  pull_request_target:
    branches:
      - main
    paths:
      - '**/*.js'
      - '**/*.ts'
      - '**/*.tsx'

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5

      - name: 'Setup node'
        uses: actions/setup-node@v5
        with:
          node-version: 18.20.8
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      # ESLint and Prettier must be in `package.json`
      - name: 'Install NPM Dependencies'
        run: |
          cd frontend
          npm install

      - name: 'Run EsLint'
        run: |
          cd frontend
          npm run lint

      - name: 'Run Prettier'
        run: |
          cd frontend
          npm run format