name: "Lint: Python Coordinator"

on:
  push:
    branches:
      - main
    paths:
      - '**.py'
  pull_request_target:
    branches:
      - main
    paths:
      - '**.py'

permissions:
  checks: write

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: pip
      - run: pip install black==22.8.0 flake8==5.0.4 isort==5.10.1
      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          auto_fix: true
          git_name: "Python Lint Action"
          commit_message: "Fix code style issues with ${linter}"
          commit: false
          neutral_check_on_warning: true
          black: true
          flake8: true
          # Flake8 doesn't support auto-fixing
          flake8_auto_fix: false
